<!DOCTYPE html><!---HTML 5----->

<html>
		<head>
				<title> Marathi Songs</title>

				<meta charset="utf-8"/>
				<meta name="description" content="We are enjoying marathi music
				youtube video"/>
<a  class="btn btn-primary lg"align="left" href="http://127.0.0.1:5000/list" role="button">Home</a>
			<br>
			<br>
		</head>

		<body>
			<iframe width="1350" height="540" src="https://www.youtube.com/embed/bJrX-SDn_xc" title="YouTube video player"
					frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
					gyroscope; picture-in-picture" allowfullscreen loop></iframe>
		</body>

<div class="footer text-muted"> © Shubham creation 2021. </div>
</html>